/* Mobile Design--Default */

/* Heading Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Body Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Variables */
$heading-font-family: 'DM Serif Display',
serif;
$body-font-family: 'Karla',
sans-serif;
$body-font-size: 16px;
$body-font-weight: 400;
/* Primary */
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
/* Neutral */
$very-dk-violet: hsl(270, 9%, 17%);
$dk-grayish-violet: hsl(273, 4%, 51%);
$very-lt-gray: hsl(0, 0%, 98%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

h1, h2, h3, h4 {
    font-family: $heading-font-family;
}

h2 {
    font-weight: $body-font-weight;
    font-size: 2.75rem;
    line-height: 1em;
}

h3 {
    font-weight: $body-font-weight;
}

p {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-size: 1rem;
    line-height: 1.75em;
}

img {
    display: block;
}

/* Navigation Style */ 
.navbar {
    margin: auto;
    background-color: white;
}

.collapse {
    height: 600px;
    background: $very-dk-violet;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 700;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.nav-item {
    width: 100%;
    margin: auto;
    padding: 1em;
    margin-bottom: 1em;
}

.nav-link {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: $body-font-family;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

.nav-btn {
    height: 50px;
    width: 80% !important;
    border: 2px solid white;
    color: white;
    margin: 2em 0;
    cursor: pointer;
    font-family: $body-font-weight;
    font-size: 1.25rem;
    font-weight: $body-font-weight;
    text-transform: uppercase;
}

.navbar-brand,
.navbar-toggler {
    margin-bottom: 15px;
}

.navbar-toggler>.close {
    display: none;
}

.navbar-toggler .collapsed>.open,
.navbar-toggler:not(.collapsed)>.close {
    display: inline;
}

.navbar-toggler .collapsed>.close,
.navbar-toggler:not(.collapsed)>.open {
    display: none;
}

.navbar-brand,
.navbar-toggler {
    margin-bottom: 15px;
}

.nav-pattern {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-image: url("/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-size: cover;  
}


/* Intro Style */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $dark-violet;
    
}
.intro-line {
    display: none;
}

.intro__image {
    width: 100vw;
}

.intro__info {
    width: 90%;
    padding: 6em 0;
    text-align: center;
    color: white;
    position: relative;
}

.intro__title {
    font-size: 50px;
    margin-bottom: 0.4em;
}

.intro__paragraph {
    margin-bottom: 2em;
}

.intro-btn {
    width: 50% !important;
    margin: auto;
    font-family: $body-font-family;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.75em 2em;
}

.intro-btn:hover {
    cursor: pointer;
    color: $very-dk-violet;
    background-color: #ffffff;
}

.intro__container {
    display: flex;
    justify-content: center;
    position: relative;
}

.intro__pattern {
    position: absolute;
    width: 8em;
}

.intro-pattern-rt {
    bottom: -12em;
    right: 0;
}

.intro-pattern-lf {
    top: 0;
    left: 0;
}





.desktop {
    display: none;
    visibility: hidden; 
}
/* Footer */



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
