/* Mobile Design--Default */

/* Heading Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Body Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Variables */
$heading-font-family: 'DM Serif Display',
serif;
$body-font-family: 'Karla',
sans-serif;
$body-font-size: 16px;
$body-font-weight: 400;
/* Primary */
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
/* Neutral */
$very-dk-violet: hsl(270, 9%, 17%);
$dk-grayish-violet: hsl(273, 4%, 51%);
$very-lt-gray: hsl(0, 0%, 98%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

h1, h2, h3, h4 {
    font-family: $heading-font-family;
}

h2 {
    font-weight: $body-font-weight;
    font-size: 2.75rem;
    line-height: 1em;
}

h3 {
    font-weight: $body-font-weight;
}

p {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-size: 1rem;
    line-height: 1.75em;
}

img {
    display: block;
}

/* Navigation Style */ 
.navbar {
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse {
    background: $very-dk-violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-nav {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item {
    color: #ffffff;
    padding: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}

.nav-link {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

.nav-btn {
    height: 50px;
    width: 80% !important;
    border: 2px solid white;
    color: white;
    margin: 2em 0;
    cursor: pointer;
    font-family: $body-font-weight;
    font-size: 1.25rem;
    font-weight: $body-font-weight;
    text-transform: uppercase;
}


.navbar-brand, .navbar-toggler {
    margin-bottom: 15px;
}

.navbar-toggler > .close {
    display: none;   
}

.navbar-toggler .collapsed> .open,
.navbar-toggler:not(.collapsed)> .close {
    display: inline;
}

.navbar-toggler .collapsed>.close,
.navbar-toggler:not(.collapsed)>.open {
    display: none;
}

.navbar-brand, .navbar-toggler {
    margin-bottom: 15px;
}

.nav-pattern {
    width: 100%;
    height: 50%;
    bottom: -15em;
}

/* Intro Style */

.company__intro {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: $dark-violet;
}

.intro__img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.intro__info {
    text-align: center;
    align-items: center;
    padding: 100px 30px;
}

.intro__title {
    position: relative;
    color: #ffffff;
    font-size: 55px;
    margin: auto;
    z-index: 2;

}
.intro__paragraph {
    color: #ffffff;
    margin: 20px auto;
    padding: 20px 30px;
    width: 90%;
}
.intro-btn {
    text-transform: uppercase;
    margin: auto;
    padding: 10px 20px;
    font-weight: 700;
    width: 80% !important;
}


/* Footer */



 .desktop {
    visibility: hidden;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
